body{
    width: 100%;
}
.title-group{
    width: 100%;
}
table{
    width: 100%;
   }
mat-header-cell{
    font-weight: bold;
    color: black;
    background-color: rgba(245,245,245,1);
    font-family: "roboto";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: normal;
}
mat-cell{
    color: rgba(0,0,0,.66);
    font-family: "roboto";
    font-size: 12px;
    letter-spacing: normal;
    padding: 8px 8px 8px 0;
}
mat-header-row{
    min-height: 25px;
}
mat-row{
    min-height: 25px;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color:rgba(0, 0, 0, 0.925);
  }